body {
  background: #7baaf7;
  text-align: center;
}
body box {
  shadow: inset 0 0 2px rgba(0, 0, 0, 0.12), inset 0 2px 4px rgba(0, 0, 0, 0.24);
}

#world {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  height: 480px;
}

#clouds-1 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#clouds-2 {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-name: cloudsFloat;
  animation-name: cloudsFloat;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#clouds-3 {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: cloudsFloatAlt;
  animation-name: cloudsFloatAlt;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes cloudsFloat {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cloudsFloat {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes bounce {
  50% {
    transform: translate(20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes bounce {
  50% {
    transform: translate(20px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@-webkit-keyframes cloudsFloatAlt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(300px, 0);
  }
}
@keyframes cloudsFloatAlt {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(300px, 0);
  }
}
